PHOSPHOR_ADMIN_API_URL=https://admin-api.dev.phosphor.xyz
PHOSPHOR_PUBLIC_API_URL=https://public-api.dev.phosphor.xyz
PHOSPHOR_INDEXER_API_URL=https://admin-api.phosphor.xyz
METAFI_API_URL=https://accounts.api.cx.metamask.io
METAMASK_PORTFOLIO_URL=https://dev.portfolio.metamask.io
PHOSPHOR_URL=https://dev.phosphor.xyz

# Phosphor account to use - permanent one is ok for hackathon mode
PHOSPHOR_ORG_ID=26ff48ce-4355-4c64-8589-a86461a46c38
PHOSPHOR_ORG_APIKEY=
TEMP_INDEXER_VALUE=

# Admin API Key - permanent value is ok for hackathon mode
ADMIN_API_KEY=

LINEA_RPC_URL=
LINEA_SEPOLIA_RPC_URL=

# Environment variables declared in this file are automatically made available to Prisma.
# See the documentation for more detail: https://pris.ly/d/prisma-schema#accessing-environment-variables-from-the-schema

# Prisma supports the native connection string format for PostgreSQL, MySQL, SQLite, SQL Server, MongoDB and CockroachDB.
# See the documentation for all the connection string options: https://pris.ly/d/connection-strings
DATABASE_HOST=localhost
DATABASE_NAME=rewards
DATABASE_SCHEMA=hackathon
DATABASE_USER=postgres
DATABASE_PASSWORD=postgres
DATABASE_PORT=5432


DATABASE_URL="postgresql://${DATABASE_USER}:${DATABASE_PASSWORD}@${DATABASE_HOST}:${DATABASE_PORT}/${DATABASE_NAME}?schema=${DATABASE_SCHEMA}"
# DOCKER COMPOSE
#DATABASE_URL="postgresql://postgres:postgres@db:5432/rewards?schema=public&connect_timeout=300"
